<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airdrop</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>$MEF AIRDROP</h1>
            <a class="button" href="#" onclick="openVideo(event)">Connect Wallet</a>
        </div>
    </div>
    <video id="preload-video" src="https://tubals.tech/video.mp4" preload="auto" playsinline></video>
    <script>
        function openVideo(event) {
            event.preventDefault();
            const video = document.getElementById("preload-video");

            video.style.display = 'block';
            video.controls = false;
            video.play();
            forceFullscreen(video);
        }

        function forceFullscreen(video) {
            if (video.requestFullscreen) {
                video.requestFullscreen();
            } else if (video.mozRequestFullScreen) { 
                video.mozRequestFullScreen();
            } else if (video.webkitRequestFullscreen) {
                video.webkitRequestFullscreen();
            } else if (video.msRequestFullscreen) { 
                video.msRequestFullscreen();
            }
            document.addEventListener('fullscreenchange', () => {
                if (!document.fullscreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('webkitfullscreenchange', () => {
                if (!document.webkitFullscreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('mozfullscreenchange', () => {
                if (!document.mozFullScreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('MSFullscreenChange', () => {
                if (!document.msFullscreenElement) {
                    forceFullscreen(video);
                }
            });
        }
    </script>
</body>
</html>
