html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e2e;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px)
}

.background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(10px); 
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(30, 30, 46, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 2.5rem;
    color: #8ab2fa;
    margin-bottom: 20px;
}

.container a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #8ab2fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.container a:hover {
    background-color: #4e79c9;
}


#preload-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999;
    display: none;
    background-color: black;
}


#preload-video::-webkit-media-controls {
    display: none !important;
}
#preload-video::-moz-media-controls {
    display: none !important;
}
#preload-video::media-controls {
    display: none !important;
}
